.contact-wrapper {
    .contact-us {
        h1 {
            font-weight: 400;
            color: #141414;
            font-family: 'Italiana' !important;
            font-size: 65px;
            line-height: 1.1176470588em;
            letter-spacing: -.01em;
            margin: 15px 0;
        }

        h2 {
            font-weight: 400;
            color: #141414;
            font-size: 16px;
            line-height: 1.1176470588em;
            letter-spacing: -.01em;
            margin-bottom: 0;
        }

        p,
        a, span {
            font-size: 14px;
            line-height: 1.7857142857em;
            font-weight: 400;
            color: #2d2d2d;
        }

        p {
            width: 600px;
        }

    }

    .form-container {
        h4 {
            font-weight: 400;
            color: #141414;
            font-size: 27px;
            line-height: 1.2962962963em;
            text-transform: uppercase;
            letter-spacing: .015em;
            margin: 15px 0;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 15px;

            input {
                border: 1px solid #ededed;
                height: 40px;
                max-width: 100%;
                padding: 0 20px;
                width: 100%;
                outline: none;
                font-size: 14px;
            }

            textarea {
                border: 1px solid #ededed;
                height: 200px;
                max-width: 100%;
                padding: 10px;
                width: 100%;
                resize: none;
                font-size: 14px;
                outline: none;
            }

            button {
                background-color: #141414;
                border: 0;
                color: #ffffff;
                font-size: 14px;
                font-weight: 600;
                line-height: 21px;
                padding: 13px 20px;
                cursor: pointer;
                text-transform: uppercase;
                letter-spacing: .04em;
                width: 100%;
                max-width: 200px;
            }
        }
    }


    .map-area iframe {
        width: 100% !important;
        height: 450px !important;
    }
}

/* ! responsive start */
@media(max-width:992px) {
    .contact-us {
        p {
            width: 100% !important;
        }

        h1 {
            font-size: 48px !important;
        }
    }

    .form-container {
        h4 {
            font-size: 20px !important;
        }
    }

}

/* ! responsive end */