.portfolio-page {
    padding: 25px 0px;
    margin: 0 !important;

    .title {
        h3 {
            font-weight: 400;
            color: #141414;
            font-family: 'Italiana' !important;
            font-size: 50px;
            line-height: 1.0952380952em;
            letter-spacing: -.01em;
            margin: 15px 0;
        }
    }
}

.portfolio-img {
    .hover {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .2);
        opacity: 0;

        a {
            background-color: #000;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            height: 60px;
            width: 60px
        }
    }

    &:hover .hover {
        opacity: 1;
        transition: all .3s;
        cursor: pointer;
    }
}